#devpanel{
	font-family: arial;
	color: #fff;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -410px;
	width: 820px;
	font-size: 12px;
	text-align: left;
	background: #579;
	background: #444;
	//background: rgba(200,200,200,1);
	
	padding-top: 10px;
	padding-bottom: 20px;
	
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-bottomleft-radius: 10px;
	-moz-border-bottomright-radius: 10px;
}
#devpanel table{
	width: 800px;
	margin: 0 auto;
	//border-collapse:collapse;
	color: #fff;
}
#devpanel .devpanel-table-title{
	font-size: 12px;
	margin: 10px;
	display: block;
}

#devpanel .debug-toggle{
	display: block;
	background: url(/themes/default/graphics/down.png) no-repeat 100px;
	width: 10px;
	height: 20px;
	padding: 0 100px;
	position: absolute;
	left: 50%;	
	margin-left: -105px;
	cursor: pointer;
}

#devpanel .open{
	background: url(/themes/default/graphics/up.png) no-repeat 100px;
}

#devpanel tr{
	background: #3E3E3E;
	vertical-align: top;
}
#devpanel td{
	padding: 4px 5px;
}

#devpanel tr:nth-child(even) {background: #3A3A3A}
#devpanel tr:nth-child(odd) {background: #3E3E3E}

.devpanel-title{
	margin-left: 10px;
	font-size: 16px;
	font-weight :bold;
}
.devpanel-copyright{
	float: right;
	margin-right: 10px;
	font-size: 10px;
}