html, body{
	margin: 0;
	padding: 0;
}
body{	
	background-color: #EEE;
	font-size: 12px;	
	font-family: Arial;
}

#randomimage{
	width: 504px;
}

img{
	max-width: 100%;
	border: none;
}

a{
	text-decoration: none;
}

.b{
	font-weight: bold;
}

.menu{
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu a{	
	color: #fff;
	text-decoration: none;
}
.menu li{	
	position: relative;
	list-style: none;
}
.menu li a{
	display: block;
	padding: 5px;
	
	background: #69c;
	background: -webkit-gradient(linear, left top, left bottom, from(#69c), to(#47a));
	background: -o-linear-gradient(top, #69c, #47a);
	background: -ms-linear-gradient(top, #69c, #47a);
	background: -moz-linear-gradient(top,  #69c,  #47a);
	background: linear-gradient(top,  #69c,  #47a);
	font-size: 17px;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699cc', endColorstr='#4477aa')";
}
.menu li ul li a:hover{
	background: #8bd;
	background: -webkit-gradient(linear, left top, left bottom, from(#8bd), to(#7ac));
	background: -o-linear-gradient(top, #8bd, #7ac);
	background: -ms-linear-gradient(top, #8bd, #7ac);
	background: -moz-linear-gradient(top,  #8bd,  #7ac);
	background: linear-gradient(top,  #8bd,  #7ac);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#88bbdd', endColorstr='#77aacc')";
}
.menu li ul{
	display: none;
	padding: 0;
}
.menu li ul li{
}
.menu li ul li a{
	padding-left: 10px;
	background: #AAA;
	background: -webkit-gradient(linear, left top, left bottom, from(#AAA), to(#999));
	background: -o-linear-gradient(top, #AAA 0%,#999 100%);
	background: -ms-linear-gradient(top, #AAA 0%,#999 100%);
	background: -moz-linear-gradient(top,  #AAA,  #999);
	background: linear-gradient(top,  #AAA,  #999);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAAAAA', endColorstr='#999999')";
}
.menu .button{
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 10;
	display: block;
	padding: 10px 10px 10px 100%;
	background: none;
	cursor: pointer;

}

.menu .button .icon{
	display: block;
	width: 10px;
	height: 10px;
	background: url(/style/down.png) no-repeat;
}
.menu .open .icon{
	background: url(/style/up.png) no-repeat;
}
.menu .grey{
	color: #555;
}


#main{
	margin: 10px;
}

#avacontainer{
	position: absolute;
	top: 5px;
	right: 5px;
	width: 200px;
	text-align: right;
}
#avacontainer #ava{
	float: right;
	margin-left: 5px;
	width: 32px;
	height: 32px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-radius: 3px;
}
#avacontainer p{
	margin: 0px;
}

#footer{
	display: block;
	clear: both;
	margin-top: 50px;
	margin-left: 20px;
	color: #666;
	font-size: 11px;
}


/* GALLERY */	
#thumbs{
	font-size:10px;
}
.thumb{
	float:left;
	margin:5px;
	width:140px;
	height:140px;
	background: #555; 
	background-position: center;
	background-size: 100%; 
	background-repeat: no-repeat;
	cursor: pointer;
}
#uploadbutton{
	margin-top:70px;
	font-size:20px;
}
#underlay{
	position:absolute;
	top:0;
	left:0;
	display:none;
}
#lightbox{
	position:absolute;
	top: 0px;
	left: 0px;
	z-index: 200;
	display:none;
	padding:10px;
	height: 100%;
	background-color:#fff;
	font-weight:bold;
	font-size:12px;
}
#lightbox a:hover{
	opacity:0.5;
	cursor: pointer;
}

/* Applications */


#mapcontainer{
	position: relative;
}
#mapcontainer #mapwrap{
	position: absolute;
	overflow: hidden;
}
#mapcontainer #more{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
}
#mapcontainer #map{
	position:relative; 
	width: 100%;
	height: 100%;
}
#mapcontainer .dot{
	position:absolute;
	padding-left: 10px;
	height: 8px;
	background: #f00;
	background: url(/themes/default/graphics/dot-green.png) no-repeat;
	color:red;
	font-size:11px;
}
#mapcontainer .player{
	z-index: 10;
	background: url(/themes/default/graphics/cancel.png) no-repeat;
}


.members{
	width:220px;
	font-size:11px;
}
.members img{
	margin-right:10px;
	vertical-align:middle;
}

#playerstatus{
	font-size: 11px;
}


/* COMMENTS */
#comments{
	width: 100%;
	font-size:12px;
}
.post{
	margin: 10px 0px;
	padding:20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color:#FFF;
	text-align:left;
}
.avatar{
	float:left;
	margin-right:10px;
}
.avatar img{ 
	width:40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px; 
	border-radius: 5px;
}
.name{
	padding-bottom:5px;
	color:#444;
}
.time{
	float:right;
	margin-right:15px;
	color:#444;
	font-size:10px;
}
.comment{
	margin-bottom:10px;
}
.post a img{
	float:right;
	margin-top:2px;
	border:0;
}
#commentbox{
	width: 100%;
	height: 100px;
}

#pagenav{
	margin-bottom: 50px;
	font-size: 20px;
}
#pagenav a{
	display: block;
	float: left;
	margin: 5px;
	padding: 5px;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	background: #666;
	color: #fff;
	text-align: center;
	text-decoration: none;
}
#pagenav a:hover{
	background: #999;
}


#list-table{
	width: 100%;
	font-size: 10px;
}


/* VERSIONS */
#versions {
	margin:0px;
	padding:0px; 
	border: none;
	background-color:#ddd;
}
.latest{
	margin-top:-12px;
	color:#777;
	font-size:10px;
}


.mapselect{
	margin: 0px;
	list-style:none;
}

.info{
	font-size:11px; 
}

.miniavatar{
	max-width: 20px;
}
.visitsAvatar img{
	max-width: 20px;	
}

.clear{
	clear: both;
}


#chat table{
	width: 100%;
}
#chat td{
	
}
#chat tr{
	background-color:#eaeaea;
}
.chatinput{
	width:100%;
}

.loading{
	position: relative;
	left: 50%;
	margin-left: -16px;
	
}

.mobhide{
	display: none;
}